@mainFont: 14px 'Roboto';
@radius: 0.4em;
@noActiveColor: lightgrey;
@hoverColor: lightblue;
@activeColor: blue;
@colorFont: #404040;
@colorSuccess: green;
@colorWarning: orange;
@colorDanger: darkred;

.container {
  font: @mainFont;
  max-width: 400px;
  position: relative;
}

.otherText {
  margin-top: 1em;
}

.finish {
  background-color: @colorFont;
  color: contrast(@colorFont);
  padding: 1em;
}


